h1{
    background-color: aqua;
}
body {
    background: url(https://anroca1.cdn.net.ar/252/anroca/images/80/28/802898_51f8c3db8486f577e631d1bbac883049464272b1e3b0587b021173121d26ccf0/sm.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    }
    